<div class="container mx-auto grid grid-cols-2  lg:grid-cols-4 gap-4 p-4 px-10 xl:px-32 pb-20 content">
    <div
        class="bg-white row-span-2 md:row-span-1 col-span-4 dark:bg-gray-800 rounded-[30px] p-6 sm:p-10 flex flex-col gap-4 md:h-[280px] hover:shadow-lg dark:hover:shadow-xl hover-trigger">
        <div class="relative w-20 h-20 lg:w-24 lg:h-24 image-container">
            <!-- <div class="absolute -right-32 -top-6 hidden -translate-y-14 rounded-full bg-orange-500 px-3 pb-2 pt-1 font-satoshi text-sm font-semibold leading-none tracking-wide text-white xs:text-lg xl:-right-28 xl:-top-2 xl:block xl:text-lg"
                style="filter: blur(0px); opacity: 1; transform: none;">
                <span class="inline-block text-base">Hi there!</span>
                <svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="absolute -bottom-[11px] left-5 w-5 rotate-2 text-orange-500">
                    <path
                        d="M20.473.465c-2.222 5.25-5.185 9.662-10.413 12.585C9.04 6.101 6.946 4.072-.096 1.182L3.5 1l14-.5 2.973-.035z"
                        fill="currentColor">
                    </path>
                </svg>
            </div> -->
            <!-- Default Image -->
            <img class="default-image w-full h-full object-cover" src="assets/thumb.png" alt="default image">
            <!-- Hover Image -->
            <img class="hover-image w-full h-full object-cover" src="assets/happy.png" alt="hover image">
        </div>
        <div class="relative inline-block">
            <p class="font-medium text-gray-500 dark:text-gray-300 text-md">
                {{ aboutme }}
            </p>
        </div>
    </div>

<!-- Education Box -->
  <div class="education-section box">
    <h2>Education</h2>
    <div class="education-list">
      <div class="education-card" *ngFor="let item of education; let i = index">
        <div class="qualification">{{ item.qualified }}</div>
        <div class="school-info">
          <img class="school-logo" [src]="item.logo" [alt]="item.studied_at + ' logo'" *ngIf="item.logo" />
          <span class="school-name">{{ item.studied_at }}</span>
        </div>
        <div class="time-period">{{ item.time_period }}</div>
        <div class="place">{{ item.place }}</div>
      </div>
    </div>
  </div>
</div>